# Python
__pycache__/
*.pyc
venv/
.env

# Node
node_modules/
dist/
*.log

# OS
.DS_Store
Thumbs.db

# IDEs
.vscode/
.idea/

# Temp
*.tmp
*.temp
*.swp

# Tailwind CLI binary (if you added the standalone .exe)
frontend/tailwindcss.exe
